.backdrop {
  background: #212121;
}
.backdropContainer--box-modal-product {
  background-color: #000;
  opacity: .9!important;
}
.triggerContainer--helper {
  position: fixed;
  right: 35px;
  z-index: 100;
  bottom: 100px;
  cursor: pointer;
}
.modal--helper {
  position: fixed !important;
  inset: initial !important;
  bottom: 140px !important;
  right: 90px !important;
}
.paper--helper {
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border-radius: 4px;
}

.paper--search {
  background-color: transparent;
}
.container--search {
  height: initial;
}
.closeButton--search {
  color: #fff;
}

.paper--box-modal-product {
  background: transparent;
  overflow: visible;
}

.paper--box-modal-product :global(.vtex-flex-layout-0-x-flexRow--text-image-modal) {
  width: 622px;
  position: absolute;
  right: 50%;
  bottom: -80px;
  transform: translateX(50%);
}

.modal--box-modal-product {
  z-index: 99999 !important;
}