/* MINICART */
.paragraph--utils-text {
  margin: 0;
  font-size: 13px;
  line-height: 13px;
  font-weight: 400;
  color: #fff;
}
.container--minicart-text {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 0;
  z-index: -2;
}

/*  */

/* TITULOS DAS VITRINES */
.container--shelf-title {
  display: block;
}
.heading--shelf-title {
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
  margin: 0 0 24px;
  position: relative;
}

/* NEWSLETTER */

.container--footer-texto{
  font-size: 12px;
  color:#2D2926;
  margin-bottom: 1rem;
}

.strong--footer-texto{
  color:#FE5000!important;
  position: relative;
}

.strong--footer-texto::after{
  content:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' viewBox='0 0 19 19' fill='none'%3E%3Cmask id='mask0_18666_4491' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='19' height='19'%3E%3Crect x='0.5' y='0.5' width='18.5' height='18.5' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_18666_4491)'%3E%3Cpath d='M4.43341 15.3748L3.35425 14.2957L10.7542 6.89567H4.12508V5.354H13.3751V14.604H11.8334V7.97484L4.43341 15.3748Z' fill='%23FE5000'/%3E%3C/g%3E%3C/svg%3E");
  position: absolute;
  right: -21px;
}

.paragraph--button-area-logada{
    border: 1px solid #FE5000;
    font-size: 12px;
    padding: 4px 15px;
    border-radius: 40px;
}

.paragraph--newsletter-cta {
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  margin: 0 0 16px;
  color: #2D2926;
}
.paragraph--newsletter-desc {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  color: #b1b3b6;
}

/* FOOTER CONTEÚDO */

.strong--button-all-category{
  font-size: 14px;
  color:#2D2926;
}

.paragraph--footer-horario{
  font-size: 12px;
  color:#2D2926;
}

.paragraph--brand-resume {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 24px 0;
  color: #fff;
  font-size: 14px;
  line-height: 19px;
}

.heading--footer-title {
  margin: 0 0 32px;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #2D2926;
}

.paragraph--cms-link,
.paragraph--sac-group-link {
  margin: 0;
  color: #979797;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}
.paragraph--cms-link:hover,
.paragraph--sac-group-link:hover {
  color: #000000;
}
.link--cms-link,
.link--sac-group-link {
  padding: 0 0 2px;
  color: #2D2926;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}

.link--sac-group-topo {
  color: #101010;
}
.link--cms-link:hover,
.link--sac-group-link,
.link--sac-group-link:hover {
  border-color: #fff;
}

.link--sac-group-link:hover{
  padding: 0 0 2px;
  transition: all 0.3s ease-in-out;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}

.paragraph--sac-group-title {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 0 0 4px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  line-height: 19px;
}
.link--sac-group-email::before {
  content: url("data:image/svg+xml,%3Csvg width='19' height='18' viewBox='0 0 19 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_12060_7725' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='19' height='18'%3E%3Crect x='0.5' width='18' height='18' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_12060_7725)'%3E%3Cpath d='M3.1 15C2.66 15 2.28333 14.8531 1.97 14.5594C1.65667 14.2656 1.5 13.9125 1.5 13.5V4.5C1.5 4.0875 1.65667 3.73438 1.97 3.44063C2.28333 3.14688 2.66 3 3.1 3H15.9C16.34 3 16.7167 3.14688 17.03 3.44063C17.3433 3.73438 17.5 4.0875 17.5 4.5V13.5C17.5 13.9125 17.3433 14.2656 17.03 14.5594C16.7167 14.8531 16.34 15 15.9 15H3.1ZM9.5 9.75L3.1 6V13.5H15.9V6L9.5 9.75ZM9.5 8.25L15.9 4.5H3.1L9.5 8.25ZM3.1 6V4.5V13.5V6Z' fill='%23FE5000'/%3E%3C/g%3E%3C/svg%3E");
  line-height: 0;
  margin-right: 10px;
  top: 3px;
  position: relative;
}

.link--sac-group-wpp::before, .link--sac-group-btn::before {
  content: url("data:image/svg+xml,%3Csvg width='19' height='18' viewBox='0 0 19 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.4694 3.00607C13.8907 1.42548 11.7911 0.554638 9.55432 0.553711C4.94521 0.553711 1.19407 4.30475 1.19221 8.9151C1.19159 10.3889 1.5766 11.8275 2.30839 13.0956L1.12207 17.4287L5.55495 16.2659C6.77639 16.9322 8.1515 17.2833 9.55092 17.2837H9.55442C14.163 17.2837 17.9146 13.5323 17.9163 8.92179C17.9172 6.68738 17.0483 4.58655 15.4694 3.00607ZM9.55432 15.8715H9.55143C8.30435 15.871 7.08126 15.5358 6.01401 14.9027L5.76033 14.752L3.12979 15.4421L3.83192 12.8774L3.66661 12.6144C2.97086 11.5078 2.60347 10.2288 2.60409 8.91561C2.60553 5.08361 5.72345 1.966 9.5571 1.966C11.4135 1.96662 13.1586 2.69048 14.4708 4.00421C15.7829 5.31793 16.5052 7.06414 16.5045 8.92128C16.5029 12.7536 13.3852 15.8715 9.55432 15.8715ZM13.3666 10.6661C13.1578 10.5615 12.1305 10.0562 11.9389 9.98637C11.7475 9.91664 11.6081 9.88193 11.4689 10.091C11.3296 10.3001 10.9292 10.7708 10.8073 10.9101C10.6853 11.0496 10.5636 11.0671 10.3546 10.9625C10.1456 10.8579 9.47243 10.6372 8.67431 9.92539C8.05324 9.37137 7.63394 8.68716 7.51199 8.47808C7.39025 8.26879 7.51096 8.16662 7.60366 8.05167C7.82984 7.7708 8.05633 7.47633 8.12596 7.33698C8.19569 7.19752 8.16077 7.07547 8.10845 6.97093C8.05633 6.86639 7.63847 5.83796 7.46441 5.41949C7.29467 5.01224 7.12256 5.06724 6.99423 5.06085C6.87249 5.05478 6.73313 5.05354 6.59378 5.05354C6.45452 5.05354 6.22814 5.10576 6.03656 5.31505C5.84509 5.52423 5.30539 6.02964 5.30539 7.05806C5.30539 8.08649 6.05407 9.07999 6.15851 9.21945C6.26295 9.35891 7.63188 11.4693 9.72776 12.3742C10.2263 12.5897 10.6154 12.7182 10.9189 12.8145C11.4195 12.9735 11.8748 12.951 12.2349 12.8973C12.6364 12.8372 13.471 12.3918 13.6452 11.9038C13.8193 11.4157 13.8193 10.9974 13.767 10.9101C13.7149 10.823 13.5755 10.7708 13.3666 10.6661Z' fill='%23FE5000'/%3E%3C/svg%3E");
  line-height: 0;
  margin-right: 10px;
  top: 3px;
  position: relative;
}
.link--sac-group-hora::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 17 17' fill='none'%3E%3Cpath d='M8.49997 16.7417C7.37073 16.7417 6.30538 16.5273 5.30393 16.0986C4.30247 15.6699 3.42559 15.0796 2.6733 14.3276C1.92101 13.5757 1.33044 12.6991 0.901582 11.698C0.472728 10.697 0.258301 9.63203 0.258301 8.50311C0.258301 7.35838 0.472728 6.28896 0.901582 5.29485C1.33044 4.3009 1.92101 3.42754 2.6733 2.67477C3.42559 1.922 4.30247 1.33111 5.30393 0.902092C6.30538 0.472918 7.37073 0.258331 8.49997 0.258331C9.63032 0.258331 10.6961 0.466289 11.6974 0.882206C12.6987 1.29812 13.5779 1.89245 14.3348 2.66519C15.1075 3.42211 15.7018 4.30122 16.1178 5.30252C16.5337 6.30382 16.7416 7.36964 16.7416 8.5C16.7416 8.87614 16.7183 9.24446 16.6717 9.60496C16.6249 9.96545 16.561 10.3312 16.48 10.7022C16.4481 10.7944 16.3744 10.8676 16.2589 10.9217C16.1434 10.9757 16.0476 10.9769 15.9714 10.9253C15.8952 10.8737 15.8362 10.8014 15.7943 10.7085C15.7526 10.6155 15.7478 10.5189 15.7797 10.4186C15.873 10.1028 15.9289 9.79007 15.9474 9.48037C15.9658 9.17083 15.975 8.84404 15.975 8.5C15.975 7.46628 15.7803 6.4962 15.3909 5.58978C15.0013 4.6832 14.4631 3.89449 13.7763 3.22365C13.1055 2.53685 12.3168 1.99866 11.4102 1.6091C10.5038 1.2197 9.53369 1.025 8.49997 1.025C6.42358 1.025 4.65865 1.75173 3.20518 3.20521C1.7517 4.65868 1.02497 6.42361 1.02497 8.5C1.02497 10.5764 1.7517 12.3413 3.20518 13.7948C4.65865 15.2483 6.42358 15.975 8.49997 15.975C9.26903 15.975 10.0129 15.8675 10.7317 15.6525C11.4504 15.4375 12.1379 15.1095 12.794 14.6683C12.8911 14.602 12.9879 14.5806 13.0844 14.6041C13.1807 14.6277 13.2639 14.6781 13.334 14.755C13.404 14.836 13.4334 14.9247 13.4222 15.0212C13.4109 15.1177 13.3587 15.193 13.2658 15.2471C12.5237 15.7471 11.7595 16.1211 10.9732 16.3694C10.1869 16.6176 9.36247 16.7417 8.49997 16.7417ZM15.1244 13.7708C14.9395 13.7708 14.7813 13.7054 14.6498 13.5746C14.5184 13.444 14.4527 13.2861 14.4527 13.101C14.4527 12.916 14.5181 12.7578 14.6489 12.6263C14.7797 12.4949 14.9376 12.4292 15.1225 12.4292C15.3075 12.4292 15.4657 12.4946 15.5971 12.6254C15.7286 12.756 15.7943 12.9139 15.7943 13.099C15.7943 13.284 15.7289 13.4422 15.5981 13.5737C15.4675 13.7051 15.3096 13.7708 15.1244 13.7708ZM8.8833 7.96549L12.3333 11.4155C12.4231 11.5053 12.467 11.5953 12.4651 11.6855C12.4632 11.7759 12.4112 11.8721 12.3093 11.974C12.2074 12.0759 12.1144 12.1268 12.0302 12.1268C11.9461 12.1268 11.8529 12.0759 11.7509 11.974L8.32483 8.52396C8.25727 8.45639 8.20568 8.38476 8.17006 8.30905C8.13444 8.23318 8.11663 8.14629 8.11663 8.04838V3.13333C8.11663 3.02951 8.15465 2.93967 8.23068 2.8638C8.3067 2.78793 8.39671 2.75 8.50069 2.75C8.60466 2.75 8.69443 2.78793 8.76998 2.8638C8.84553 2.93967 8.8833 3.02951 8.8833 3.13333V7.96549Z' fill='%231C1B1F'/%3E%3C/svg%3E");
  line-height: 0;
  margin-right: 10px;
  top: 3px;
  position: relative;
}
.link--sac-group-tel::before {
  content: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18" fill="none"%3E%3Cmask id="mask0_12060_7719" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="19" height="18"%3E%3Crect x="0.5" width="18" height="18" fill="%23D9D9D9"/%3E%3C/mask%3E%3Cg mask="url(%23mask0_12060_7719)"%3E%3Cpath d="M16.5667 17C14.7148 17 12.8852 16.5963 11.0778 15.7889C9.27037 14.9815 7.62593 13.837 6.14444 12.3556C4.66296 10.8741 3.51852 9.22963 2.71111 7.42222C1.9037 5.61481 1.5 3.78519 1.5 1.93333C1.5 1.66667 1.58889 1.44444 1.76667 1.26667C1.94444 1.08889 2.16667 1 2.43333 1H6.03333C6.24074 1 6.42593 1.07037 6.58889 1.21111C6.75185 1.35185 6.84815 1.51852 6.87778 1.71111L7.45556 4.82222C7.48519 5.05926 7.47778 5.25926 7.43333 5.42222C7.38889 5.58519 7.30741 5.72593 7.18889 5.84444L5.03333 8.02222C5.32963 8.57037 5.68148 9.1 6.08889 9.61111C6.4963 10.1222 6.94444 10.6148 7.43333 11.0889C7.89259 11.5481 8.37407 11.9741 8.87778 12.3667C9.38148 12.7593 9.91481 13.1185 10.4778 13.4444L12.5667 11.3556C12.7 11.2222 12.8741 11.1222 13.0889 11.0556C13.3037 10.9889 13.5148 10.9704 13.7222 11L16.7889 11.6222C16.9963 11.6815 17.1667 11.7889 17.3 11.9444C17.4333 12.1 17.5 12.2741 17.5 12.4667V16.0667C17.5 16.3333 17.4111 16.5556 17.2333 16.7333C17.0556 16.9111 16.8333 17 16.5667 17Z" fill="%23FE5000"/%3E%3C/g%3E%3C/svg%3E');
  line-height: 0;
  margin-right: 10px;
  top: 3px;
  position: relative;
}

.link--sac-group-catalogo::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M6 9L2.25 5.25L3.3 4.1625L5.25 6.1125V0H6.75V6.1125L8.7 4.1625L9.75 5.25L6 9ZM1.5 12C1.0875 12 0.734375 11.8531 0.440625 11.5594C0.146875 11.2656 0 10.9125 0 10.5V8.25H1.5V10.5H10.5V8.25H12V10.5C12 10.9125 11.8531 11.2656 11.5594 11.5594C11.2656 11.8531 10.9125 12 10.5 12H1.5Z' fill='%23FFFFFF'/%3E%3C/svg%3E");
  line-height: 0;
  margin-right: 10px;
  top: 3px;
  position: relative;
}

.link--sac-group-topo::before {
  filter: invert(1);
}
.link--sac-group-topo.link--sac-group-hora::before {
  filter: inherit;
}
.link--sac-group-btn.link--sac-group-topo::before, .paragraph--unavailable {
  display: none;
}
.link--sac-group-topo {
  border-color:#263572;
}

.wrapper--sac-group-btn {
  border: 1px solid #EA5A1C;
  padding: 4px;
  max-width: 190px;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}

.wrapper--sac-group-btn-topo {
  background: #EA5A1C;
  color: #101010;
  max-width: 100%;
}

/* COPY RODAPÉ */
.container--copy-text {
  display: flex;
  justify-content: center;
}
.paragraph--copy-text {
  margin: 0;
  color: #474747;
  font-size: 12px;
  line-height: 16px;
}

/* DESCRIÇÃO CATEGORIA */

.wrapper--description-text{
  margin-bottom: 3.5rem;
  border-top: 1px solid #CCCCCC;
  padding-top: 2.5rem;
}

.heading--description-text {
  margin: 0 0 24px;
}
.heading--description-text:not(:first-child) {
  margin-top: 20px;
}
.headingLevel1--description-text,
.headingLevel2--description-text {
  font-weight: 700;
}
.headingLevel1--description-text,
.headingLevel2--description-text {
  font-size: 16px;
  line-height: 22px;
  color: #2D2926;
}
.headingLevel3--description-text,
.headingLevel4--description-text,
.headingLevel5--description-text,
.headingLevel6--description-text {
  font-size: 15px;
  line-height: 20px;
  color: #101010;
}
.paragraph--description-text {
  margin: 0;
  color: #101010;
  line-height: 20px;
  font-size: 14px;
}
.paragraph--description-text:not(:first-child) {
  margin-top: 20px;
}

.link--cmstopo {
  gap: 8px;
  color: #696969;
  text-decoration: inherit;
  font-size: 12px;
  line-height: 16px;
}

.paragraph--cmsbread2 {
  color: #212121;
  font-size: 12px;
  line-height: 16px;
  padding-left: 10px;
  margin-bottom: 7px;
  position: relative;
}
.paragraph--cmsbread2::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8' fill='none'%3E%3Cmask id='mask0_194_8324' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='8' height='8'%3E%3Crect x='8' y='8' width='8' height='8' transform='rotate(180 8 8)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_194_8324)'%3E%3Cpath d='M2.66667 0.666676L6 4.00001L2.66667 7.33334L2.075 6.74168L4.81667 4.00001L2.075 1.25834L2.66667 0.666676Z' fill='%23767676'/%3E%3C/g%3E%3C/svg%3E");
  line-height: 0;
  line-height: 0;
  position: absolute;
  left: -4px;
  top: 4px;
}

/*
.link--cmstopo::before { 
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cmask id='mask0_194_8322' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23263572'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_194_8322)'%3E%3Cpath d='M6 19H9V13H15V19H18V10L12 5.5L6 10V19ZM4 21V9L12 3L20 9V21H13V15H11V21H4Z' fill='%23263572'/%3E%3C/g%3E%3C/svg%3E");
  line-height: 0;
  position: absolute;
  left: 11px;
  top: 16px;
}
*/

/*página do produto*/


.link--review-button{
  font-size:12px;
  font-weight: 700;;
  color:#2D2926;
  border:1px solid #CCCCCC;
  text-decoration: none;
  border-radius: 40px;
  padding: 7px 23px;
  transition: 0.5s;
}

:global(.vtex-wish-list-1-x-wishlistIconContainer) .hover-b--transparent{
  width: 0;
  height: 0;
}

.link--review-button:hover{
  border:1px solid #FE5000;
}

/* PÁGINAS CMS*/
.paragraph--shipping-simulator-text {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  text-transform: initial;
}
/*
.paragraph--shipping-simulator-text::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='18' viewBox='0 0 22 18' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 10.2371C1 9.91814 1.26233 9.6596 1.58594 9.6596H14.138C14.4616 9.6596 14.7239 9.91814 14.7239 10.2371V14.5669C14.7239 14.8858 14.4616 15.1444 14.138 15.1444H7.23438C6.91077 15.1444 6.64844 14.8858 6.64844 14.5669C6.64844 14.248 6.91077 13.9894 7.23438 13.9894H13.5521V10.8146H2.17188V13.3298C2.17188 13.505 2.24241 13.6727 2.36776 13.7961C2.49314 13.9197 2.66348 13.9894 2.84113 13.9894H3.46875C3.79235 13.9894 4.05469 14.2479 4.05469 14.5669C4.05469 14.8858 3.79235 15.1443 3.46875 15.1443H2.84113C2.35305 15.1443 1.88496 14.9535 1.53967 14.6133C1.19386 14.2728 1 13.8107 1 13.3298V10.2371Z' fill='%231A1A1A'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.53967 1.53133C1.8847 1.19143 2.35268 1 2.84113 1H12.8828C13.3714 1 13.8395 1.19153 14.1846 1.5316C14.5303 1.87206 14.7239 2.33386 14.7239 2.81455V10.2371C14.7239 10.556 14.4616 10.8146 14.138 10.8146H1.58594C1.26233 10.8146 1 10.556 1 10.2371H1.58594C1 10.2371 1 10.2371 1 10.2371V2.81455C1 2.33386 1.19391 1.87178 1.53967 1.53133ZM2.17188 9.6596H13.5521V2.81455C13.5521 2.63974 13.4816 2.47198 13.3562 2.34855C13.2305 2.22472 13.0601 2.15496 12.8828 2.15496H2.84113C2.66385 2.15496 2.49368 2.22445 2.36803 2.34828C2.24263 2.47171 2.17188 2.63974 2.17188 2.81455V9.6596Z' fill='%231A1A1A'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.5521 5.28878C13.5521 4.96985 13.8144 4.7113 14.138 4.7113H17.276C19.3328 4.7113 21 6.35479 21 8.38148V13.3298C21 13.8109 20.8063 14.2728 20.4603 14.6133C20.115 14.9535 19.6469 15.1444 19.1588 15.1444H17.9036C17.58 15.1444 17.3177 14.8858 17.3177 14.5669C17.3177 14.248 17.58 13.9894 17.9036 13.9894H19.1588C19.3365 13.9894 19.5065 13.92 19.6319 13.7964C19.7573 13.673 19.8281 13.505 19.8281 13.3298V8.38148C19.8281 6.99258 18.6855 5.86626 17.276 5.86626H14.7239V14.5669C14.7239 14.8858 14.4616 15.1444 14.138 15.1444C13.8144 15.1444 13.5521 14.8859 13.5521 14.5669V5.28878Z' fill='%231A1A1A'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.35156 13.2887C4.63532 13.2887 4.05469 13.8609 4.05469 14.5669C4.05469 15.2728 4.63532 15.845 5.35156 15.845C6.06781 15.845 6.64844 15.2728 6.64844 14.5669C6.64844 13.861 6.06781 13.2887 5.35156 13.2887ZM2.88281 14.5669C2.88281 13.2231 3.98811 12.1338 5.35156 12.1338C6.71502 12.1338 7.82031 13.2231 7.82031 14.5669C7.82031 15.9107 6.71502 17 5.35156 17C3.98811 17 2.88281 15.9107 2.88281 14.5669Z' fill='%231A1A1A'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.0208 13.2887C15.3046 13.2887 14.7239 13.861 14.7239 14.5669C14.7239 15.2728 15.3046 15.845 16.0208 15.845C16.7371 15.845 17.3177 15.2728 17.3177 14.5669C17.3177 13.861 16.7371 13.2887 16.0208 13.2887ZM13.5521 14.5669C13.5521 13.2232 14.6574 12.1338 16.0208 12.1338C17.3843 12.1338 18.4896 13.2231 18.4896 14.5669C18.4896 15.9107 17.3843 17 16.0208 17C14.6574 17 13.5521 15.9107 13.5521 14.5669Z' fill='%231A1A1A'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.276 4.7113C17.5996 4.7113 17.862 4.96981 17.862 5.28874V9.6596H20.4141C20.7377 9.6596 21 9.91814 21 10.2371C21 10.556 20.7377 10.8146 20.4141 10.8146H17.2761C16.9524 10.8146 16.6901 10.556 16.6901 10.2371V5.28874C16.6901 4.96981 16.9524 4.7113 17.276 4.7113Z' fill='%231A1A1A'/%3E%3Cpath d='M1 10.2371C1 9.91814 1.26233 9.6596 1.58594 9.6596H14.138C14.4616 9.6596 14.7239 9.91814 14.7239 10.2371V14.5669C14.7239 14.8858 14.4616 15.1444 14.138 15.1444H7.23438C6.91077 15.1444 6.64844 14.8858 6.64844 14.5669C6.64844 14.248 6.91077 13.9894 7.23438 13.9894H13.5521V10.8146H2.17188V13.3298C2.17188 13.505 2.24241 13.6727 2.36776 13.7961C2.49314 13.9197 2.66348 13.9894 2.84113 13.9894H3.46875C3.79235 13.9894 4.05469 14.2479 4.05469 14.5669C4.05469 14.8858 3.79235 15.1443 3.46875 15.1443H2.84113C2.35305 15.1443 1.88496 14.9535 1.53967 14.6133C1.19386 14.2728 1 13.8107 1 13.3298V10.2371Z' fill='%231A1A1A'/%3E%3C/svg%3E%0A");
  line-height: 0;
}
*/
.container--title {
  margin-bottom: 1rem;
}
.headingLevel1--cms,
.headingLevel3--cms,
.headingLevel4--cms {
  font-weight: 700;
  color: #1C1C1C;
  margin: 0;
}
.headingLevel2--cms{
  font-size:16px;
  color:#FE5000;
  margin-bottom: 1.4rem;
}
.headingLevel1--cms {
  font-size: 20px;
  line-height: 27px;
}
.headingLevel2--cms, .headingLevel3--cms,
.headingLevel4--cms {
  font-size: 14px;
  line-height: 19px;
}

:global(.vtex-render__container-id-politicas-de-privacidade) .headingLevel2--cms{
  margin-bottom: 0;
}

.paragraph--cms, .link--cms {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
}
:global(.vtex-render__container-id-politicas-de-privacidade) .paragraph--cms{
  margin-top: 0!important
}
.paragraph--cms .link--cms, .link--cms{
  color:#2D2926;
  font-weight: 400;
  font-size: 14px;
  text-decoration: underline;
}
.italic--cms {
  margin: 8px 8px 12px 0;
  display: inline-block;
  background: #eeeeee;
  padding: 8px 24px;
  font-style: initial;
  line-height: 16px;
  border-radius: 4px;
}

.heading--faq {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  margin: 0;
}
.heading--faq-content,
.strong--faq-content {
  font-weight: 700;
  color: #a71b28;
}
.heading--faq-content,
.paragraph--faq-content,
.list {
  font-size: 14px;
  line-height: 19px;
  margin: 0;
}
.list {
  padding-left: 25px;
}

.container--contact {
  margin-top: 24px;
}

.paragraph--contact-option {
  display: inline-flex;
  flex-direction: column;
  gap: 6px;
  padding: 10px 24px;
  background: #eeeeee;
  color: #474747;
}
.link--contact-option {
  pointer-events: none;
  text-decoration: none;
  color: inherit;
}
.strong--contact-option {
  display: flex;
  align-items: center;
  gap: 6px;
}
.strong--contact-option.strong--mail::before,
.strong--contact-option.strong--tel::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='17' viewBox='0 0 16 17' fill='none'%3E%3Cmask id='mask0_194_8587' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='17'%3E%3Crect y='0.5' width='16' height='16' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_194_8587)'%3E%3Cpath d='M2.66634 13.8333C2.29967 13.8333 1.98579 13.7028 1.72467 13.4417C1.46356 13.1806 1.33301 12.8667 1.33301 12.5V4.5C1.33301 4.13333 1.46356 3.81945 1.72467 3.55833C1.98579 3.29722 2.29967 3.16667 2.66634 3.16667H13.333C13.6997 3.16667 14.0136 3.29722 14.2747 3.55833C14.5358 3.81945 14.6663 4.13333 14.6663 4.5V12.5C14.6663 12.8667 14.5358 13.1806 14.2747 13.4417C14.0136 13.7028 13.6997 13.8333 13.333 13.8333H2.66634ZM7.99967 9.16667L2.66634 5.83333V12.5H13.333V5.83333L7.99967 9.16667ZM7.99967 7.83333L13.333 4.5H2.66634L7.99967 7.83333ZM2.66634 5.83333V4.5V12.5V5.83333Z' fill='%23ED1A3B'/%3E%3C/g%3E%3C/svg%3E");
  line-height: 0;
}

.container--unavailable {
  display: block;
}
.container--unavailable .paragraph {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  color: #EA5A1C;
}

.paragraph--texto-compa {
  color: #ababab;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  border-bottom: 1px solid #ababab;
}

.container--cms-fim{
  border-top:1px solid #A2A2A2;
  border-bottom:1px solid #A2A2A2;
  margin-top: 2rem;
  padding: 1rem 0;
}

:global(.vtex-menu-2-x-menuContainerNav) .wrapper--sac-group-btn  {
  margin-top: 8px;
}

/*inserção plataforma e desenvolvimento*/
.paragraph--textocompa {
  color: #474747;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 4px;
}
/*fim inserção plataforma e desenvolvimento*/

/*inclusão borda no título*/

.headingLevel4--marcas-title.headingLevel4--montadora-title::after {
  left: 370px;
  width: 734px;
  top: 20px;
}
.headingLevel4--marcas-title::after {
  left: 264px;
  width: 834px;
  top: 20px;
}
/*fim inclusão borda título*/

/*PÁGINAS INSTITUCIONAIS*/

.heading--side-cms-menu-title{
  color:#1C1C1C;
}

.paragraph--current-page-faq{
  font-size: 16px;
  color:#2D2926;
  font-weight: 700;
}

.paragraph--cms-vendas{
  font-size: 14px;
  margin-bottom: 1rem;
}

.container--texto-infos{
  margin-top: 0;
  padding-top: 0.2rem;
  border-top: 1px solid #D9D9D9;
  font-size: 14px;
}

:global(.vtex-rich-text-0-x-wrapper--current-text-faq) .paragraph--current-page-faq{
  font-size: 14px;
  font-weight: 400;
}

:global(.vtex-rich-text-0-x-wrapper--cms-vendas) .italic--cms-vendas{
  background:transparent;
  font-weight: 700;
  color:#FE5000;
  padding: 0;
  font-style:unset;
}

.container--localizacao{
  align-items: center;
  text-align: right;
  justify-content: flex-end;
  width: fit-content !important;
  padding: 13px 15px;
  height: 27px;
  border: 1px solid rgb(236, 236, 236);
  font-size: 14px;
  border-radius: 40px;
}

:global(.vtex-rich-text-0-x-link--localizacao){
  text-decoration: none;
  color:#2D2926;
}

.container--localizacao::before{
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' viewBox='0 0 19 19' fill='none'%3E%3Cpath d='M9.09164 17.8481C9.20643 17.955 9.35289 18.0104 9.49935 18.0104C9.64581 18.0104 9.79227 17.955 9.90706 17.8481C10.1723 17.5948 16.4264 11.6256 16.4264 7.91665C16.4264 4.09685 13.3191 0.989563 9.49935 0.989563C5.67956 0.989563 2.57227 4.09685 2.57227 7.91665C2.57227 11.6256 8.82643 17.5948 9.09164 17.8481ZM9.49935 2.17706C12.666 2.17706 15.2389 4.74998 15.2389 7.91665C15.2389 10.3827 11.4152 14.6854 9.49935 16.5894C7.58352 14.6854 3.75977 10.3866 3.75977 7.91665C3.75977 4.74998 6.33268 2.17706 9.49935 2.17706Z' fill='%232D2926'/%3E%3Cpath d='M12.4688 7.91663C12.4688 6.27788 11.1388 4.94788 9.5 4.94788C7.86125 4.94788 6.53125 6.27788 6.53125 7.91663C6.53125 9.55538 7.86125 10.8854 9.5 10.8854C11.1388 10.8854 12.4688 9.55538 12.4688 7.91663ZM7.71875 7.91663C7.71875 6.93496 8.51833 6.13538 9.5 6.13538C10.4817 6.13538 11.2812 6.93496 11.2812 7.91663C11.2812 8.89829 10.4817 9.69788 9.5 9.69788C8.51833 9.69788 7.71875 8.89829 7.71875 7.91663Z' fill='%232D2926'/%3E%3C/svg%3E");
  padding-top:5px;
  padding-right: 5px;
}

.paragraph--imageOverlayText {
  font-family: DM Sans;
  font-weight: 300;
  font-size: 28px;
  line-height: 100%;
  line-height: 36px;
  color: #fff;
  position: absolute;
  bottom: 31px;
  width: 90%;
  left: 5%;
  text-align: right;
  border-bottom: 3px solid #FE5000;
}

.link--areaGourmetCta {
      font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #2D2926;
    padding: 8px 24px;
    padding-right: 48px;
    position: relative;
    border: 1px solid #CCC;
    text-decoration: unset;
    border-radius: 50px;
}

@media screen and (max-width: 1025px) {
  .heading--shelf-title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 20px;
  }

  .heading--home-about-title {
    font-size: 18px;
    line-height: 25px;
  }
  .paragraph--home-about-description {
    font-size: 14px;
    line-height: 19px;
  }

  .container--newsletter-desc {
    display: block;
    text-align: center;
  }

  .paragraph--brand-resume {
    text-align: center;
    font-size: 12px;
    line-height: 16px;
  }
  .container--tecfast-footer,
  .container--tecfast-footer-desc {
    justify-content: center;
  }
  .paragraph--tecfast-footer-desc {
    font-size: 12px;
    line-height: 16px;
  }
  .heading--shelf-title {
    position: relative;
    z-index: 0;
  }
  .heading--shelf-title::after, .headingLevel4--marcas-title.headingLevel4--montadora-title::after,
  .headingLevel4--marcas-title::after {
    width: 100%;
    top: 22px;
    left: 0;
    right: 0;
    z-index: -2;
  }
  .headingLevel4--marcas-title::before {
    width: 260px;
  }
  .headingLevel4--marcas-title.headingLevel4--montadora-title::before {
    width: 300px;
  }

  /*Páginas institucionais*/

  .heading--side-cms-menu-title::before {
    content: 'Nossa história';
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
  }

  :global(.vtex-render__container-id-faq) .heading--side-cms-menu-title::before{
    content:'FAQ'!important;
  }

  :global(.vtex-flex-layout-0-x-flexRowContent--cms-frete) .heading--side-cms-menu-title::before{
    content:'Política de frete'!important;
  }

  :global(.vtex-flex-layout-0-x-flexRowContent--cms-vendas) .heading--side-cms-menu-title::before{
    content:'Pontos de Vendas'!important;
  }

  :global(.vtex-flex-layout-0-x-flexRowContent--cms-trocas-e-devolucoes) .heading--side-cms-menu-title::before{
    content:'Políticas de Garantia'!important;
  }

  :global(.vtex-flex-layout-0-x-flexRowContent--cms-pagamento) .heading--side-cms-menu-title::before{
    content:'Formas de Pagamento'!important;
  }

  :global(.vtex-flex-layout-0-x-flexRowContent--cms-privacidade) .heading--side-cms-menu-title::before{
    content:'Políticas de Privacidade'!important;
  }

  :global(.vtex-flex-layout-0-x-flexRowContent--cms-termos) .heading--side-cms-menu-title::before{
    content:'Termos de uso'!important;
  }
  
  :global(.vtex-flex-layout-0-x-flexRowContent--cms-arquitetura-decoracao) .heading--side-cms-menu-title::before{
    content:'Arquitetos e Decoradoresssss'!important;
  }
}

@media (max-width: 991px) {
  
  .container--newsletter-cta {
    justify-content: center;
  }

  .paragraph--copy-text {
    text-align: center;
  }

  .paragraph--textocompa {
    margin: 0;
  }

  /*Páginas institucionais*/

  :global(.vtex-disclosure-layout-1-x-content--visible) .paragraph{
    font-size: 14px;
    color:#2D2926;
    margin-top: 0;
  }

  .heading-level-2{
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .container--copy-text {
    justify-content: center;
  }
}

@media (max-width: 639px) {
  .strong--shelf-title {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 575px) {

  .paragraph--copy-text{
    text-align: start;
  }

  .container--button-area-logada{
    width: fit-content!important;
  }

  .paragraph--footer-texto{
    max-width: 229px;
    font-size: 14px;
  }

  .paragraph--newsletter-cta {
    text-align: center;
    margin: 0 0 8px;
  }
  .container--footer-title,
  .container--sac-group-title {
    justify-content: start;
  }
  .heading--footer-title {
    margin: 0 0 20px;
  }

  .container--cms-link,
  .container--sac-group-link {
    justify-content: center;
  }

  .paragraph--tecfast-footer-desc {
    max-width: 156px;
    text-align: center;
  }

}

@media (max-width: 525px) {
  .heading--shelf-title {
    flex-direction: column;
    gap: 5px;
    align-items: baseline;
  }
  .strong--shelf-title {
    margin-top: 0;
  }

  .heading--home-about-title {
    max-width: 280px;
  }
  .paragraph--home-about-description {
    max-width: 366px;
  }
}

@media (max-width: 320px) {
  .heading--shelf-title::after {
    display: none;
  } 
}
