/* CARD PRODUTO */
.wishlistIconContainer :global(.vtex-button):hover {
  background: transparent;
}


.wishlistIconContainer :global(.vtex-button) {
  border: 1px solid #CCCCCC;
  transition: all 0.3s ease-in-out;
  min-height: initial;
  border-radius: 40px;
}
.wishlistIconContainer :global(.vtex-button)::before {
  content: "Adicionar à lista de desejos";
  font-size: 12px;
  display: block;
  width: 168px;
  font-weight: 700;
  color: #2D2926;
  padding: 9px 20px;
}

.wishlistIconContainer :global(.vtex-button):hover {
  border-color: #FE5000;
}
.wishlistIconContainer :global(.vtex-button__label) {
  display: none !important;
}