p {
    margin: 0;
}

.topoHistoria {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    margin-bottom: 24px;
}

.wrapperLogoHistoria {
    display: flex;
    gap: 72px;
    align-items: center;
}

.fraseHistoria p {
    max-width: 432px;
    font-family: DM Sans;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    color: #000;
}

.fraseHistoria p strong {
    font-weight: 700;
}

.saibaMaisHistoria a {
    font-family: DM Sans;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    color: #2D2926;
    text-decoration: unset;
    display: flex;
    gap: 4px;
    align-items: center;
    border-bottom: 1px solid transparent;
    transition: all .3s ease-in-out;
}

.saibaMaisHistoria {
    position: relative;
    transition: all .3s ease-in-out;
    border-bottom: 1px solid transparent;
}

.saibaMaisHistoria:hover {
    border-color: #2D2926;
}

.numerosHistoria {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 48px;
}
.numerosHistoria::-webkit-scrollbar {
    display: none;
}

.cardNumero {
    background-color: #FFF8EB;
    border-radius: 4px;
    padding: 8px 32px;
    display: flex;
    flex-direction: column;
    min-width: max-content;
}

.bigNumero p {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    color: #FE5000;
    margin-bottom: 0;
}

.textNumero p {
    font-family: DM Sans;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    color: #000;
    margin-bottom: 0;
}

.wrapperHistoriaAbas {
    padding-top: 52px;
    padding-bottom: 49px;
    padding-left: 48px;
    padding-right: 48px;
    border-radius: 8px;
    margin-bottom: 80px;
    background-image: url('../../assets/historia/bg01-historia.png');
    background-size: cover;
    transition: all .3s ease-in-out;
}

.wrapperHistoriaAbas.tabactive1 {
    background-image: url('../../assets/historia/bg02-historia.png');
}

.wrapperHistoriaAbas.tabactive2 {
    background-image: url('../../assets/historia/bg03-historia.png');
}

.abaNavegacao {
    position: relative;
    text-align: center;
    margin-bottom: 118px;
}

.abaNavegacao button {
    font-family: DM Sans;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    padding: 0 16px;
    color: #ECECEC;
    border: unset;
    border-bottom: 1px solid #ECECEC;
    background: unset;
    cursor: pointer;
    padding-bottom: 4px;
}

.abaNavegacao button.activeTab {
    color: #fff;
    font-weight: 700;
    border-bottom: 2px solid #fff;
}

.tabPanel p {
    font-family: DM Sans;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    max-width: 490px;
    margin-bottom: 16px;
    color: #fff;
}

.buttonMain {
    font-family: DM Sans;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    padding: 4px 20px;
    color: #2D2926;
    text-decoration: unset;
    background-color: #fff;
    border-radius: 500px;
    margin-right: 16px;
}

.buttonSecond {
    font-family: DM Sans;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    color: #fff;
    text-decoration: unset;
    padding: 4px 0;
    display: none;
}

.tabIcon {
    display: none;
}

@media screen and (max-width: 575px) {
    .tabIcon {
        display: block;
        position: absolute;
        top: 12px;
        right: 0;
        color: white;
    }
    .topoHistoria {
        gap: 12px;
        justify-content: center;
    }
    .wrapperLogoHistoria {
        gap: 48px;
    }
    .fraseHistoria p {
        font-size: 12px;
        line-height: 16px;
    }

    .wrapperHistoriaAbas {
        min-height: 350px;
        padding: 16px 16px 31px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 48px;
    }
    .abaNavegacao {
        display: flex;
        flex-direction: column;
        text-align: initial;
        padding: 12px 7px;
        height: 42px;
        overflow: hidden;
        transition: all .3s ease-in-out;
        margin: 0;
    }
    .abaNavegacao.tabOpened {
        background: #F3F3F3;
        height: 154px;
    }
    .abaNavegacao.tabOpened button {
        color: #2D2926;
        border-color: #2D2926;
    }
    .abaNavegacao svg {
        transition:  all .3s ease-in-out;
    }
    .abaNavegacao.tabOpened svg {
        color: #2D2926;
        transform: rotate(-180deg);
    }
    .abaNavegacao button {
        width: 100%;
        text-align: initial;
        padding: 4px 8px;
        font-size: 12px;
        line-height: 16px;
        transition: inherit;
    }
    .abaNavegacao:not(.tabOpened) button {
        display: none;
    }
    .abaNavegacao button.activeTab {
        padding: 4px 0 8px;
        display: block;
    }
    .abaNavegacao button:last-of-type:not(.activeTab) {
        border-color: transparent;
    }
    .tabPanel p {
        font-size: 12px;
        line-height: 16px;
    }
}