.itemContainer:not(.allCategories):nth-child(8) .departmentLink {
  color: #FE5000;
  font-weight: 700;
}

.itemContainer--department {
  order: 2;
}
.allCategories {
  order: 1;
}
.itemContainer--category {
  top: calc(100% - 10px) !important;
  left: 0;
  right: 0;
  background:transparent;
  padding: 15px;
}

.animation {
  left: 0;
}

@media only screen and (max-width: 40rem) {
  body.sidebarOpen {
    overflow-y: hidden;
  }
}

.container {
  width: 100%;
}

.container .section--department {
  padding: 10px 0;
}
.section--category {
  display: block;
  max-width: 100%;
  max-height: calc(100vh - 170px);
  overflow-y: auto;
  box-shadow: 4px 0px 4px 0px #0000001A;
}

.departmentList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.departmentLink {
  margin: 0;
  padding: 6px 0;
  font-size: 14px;
  line-height: 18px;
  color: #2D2926;
  transition: all 0.3s ease-in-out !important;
  outline: none !important;
  border: none;
}
.itemContainer:not(.allCategories) .departmentLink {
  position: relative;
  z-index: 0;
  text-transform: lowercase;
}
.itemContainer:not(.allCategories) .departmentLink::first-letter {
  text-transform: capitalize;
}
.itemContainer:not(.allCategories) .departmentLink::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: transparent;
  transition: all 0.3s ease-in-out !important;
}
.itemContainer:not(.allCategories):hover .departmentLink::after {
  background: #2D2926;
}

.firstLevelList {
  display: block;
  padding: 0;
  max-width: 149px;
  width: 100%;
}
.firstLevelList ul{
  padding: 0;
}
.firstLevelLink {
  font-size: 14px;
  line-height: 18px;
  white-space: break-spaces;
  color: #2D2926;
  font-weight: 700;
  text-decoration: none;
}

.firstLevelLink svg {
  min-width: 8px;
}
.toggleSubMenu {
  border: 0;
  padding: 0;
  background: 0;
  line-height: 0;
  cursor: pointer;
  min-width: 17px;
}
.firstLevelLinkContainer {
  
}

.secondLevelList {
}
.secondLevelListContainer {
  position: absolute;
  top: 0;
  left: 100%;
  padding: 15px 30px;
  height: 100%;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 4px 0px 4px 0px #0000001A;
}
.firstLevelLinkContainer:hover .secondLevelListContainer {
  opacity: 1;
  visibility: visible;
}
.secondLevelLinkContainer {
  padding: 5px 0;
  text-decoration: none;
  list-style: none;
}

.verMaisLink {
  font-weight:700!important;
} 

.secondLevelLink {
  padding: 0;
  color: #474747;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  transition: all 0.3s ease-in-out;
  list-style: none;
  text-decoration: none;

}
.secondLevelLink:hover {
  color: #1a1a1a;
  text-decoration: none;
}

.submenuList {
  position: relative;
  z-index: 0;
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  justify-content: space-between;
  max-width: 100%;
  width: 100%;
  padding: 15px 25px;
  gap: 1rem;
  row-gap: 2rem;
  background-color: #fff;
  border-radius: 12px;
  text-transform: lowercase;
}
.submenuList *::first-letter {
  text-transform: uppercase;
}
.submenuItem {
  display: block;
}

.allCategories strong {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  padding: 9px 26px!important;
  border-radius: 40px;
  background:#FFF8EB;
  border:1px solid transparent;
  transition: all 0.3s ease-in-out;
}

.allCategories strong:hover{
  border:1px solid #FE5000;
}

.itemContainer--department:nth-child(+6) {
  display: none;
}

.allCategories strong span {
  color: #2D2926;
}
.sidebarContentWrapper {
  height: calc(100%);
}
.sidebarOpen {
}

.sidebarScrim,
.sidebar {
  background: #212121;
}
.sidebar {
  overflow: hidden;
}
.sidebar :global(.vtex-menu-2-x-menuContainerNav--cms-sidebar) {
  padding: 30px 21px;
  border-top: 1px solid #d4d4d4;
}
.sidebar :global(.vtex-menu-2-x-styledLinkContent) {
  border: 0;
  padding: 0;
}
.sidebar :global(.vtex-menu-2-x-menuItem):not(:first-child) {
  margin-top: 12px;
}

.sidebarHeader {
}

.sidebarContent {
  margin: 20px;
  padding: 0;
  height: calc(100vh - 48px - 66px - 146px);
  height: calc(108dvh - 48px - 66px - 146px
  ); /* 100% - margens - headermobile - cms-menu */
  overflow: auto;
}
.pointerNavigate,
.sideBarItemTitleClasses {
  color: #2D2926;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: lowercase;
}
.sideBarItemTitleClasses::first-letter {
  text-transform: uppercase;
}

.sidebarItem {
}

.sidebarContainer {
}

.menuContainer {
}

.sidebarDepartment:not(:first-child) {
  border-top: 1px solid #2D2926;
}
.sidebarItemContainer {
  padding: 16px 20px 16px 0;
}
.pointerNavigate {
  padding: 8px 12px;
}

.sideBarSpanClasses {
  line-height: 0;
  color: #fff;
}

.menuIcon {
  color: #EA5A1C;
}

.sidebarHeader {
  padding: 15px 20px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.iconContainer {
  line-height: 0;
}
.sidebar {
  background: #FFF8EB;
}

.sidebarDepartment:nth-child(16) .sideBarItemTitleClasses {
  color: #EA5A1C;
  font-weight: 700;
}

.sidebarDepartment:nth-child(16){
  order: 17;
}

.sidebarDepartment:nth-child(17){
  order: 16;
}

.sidebar :global(.vtex-overlay-layout-0-x-trigger) {
  margin-left: 12px;
  margin-bottom: 15px;
}

@media (max-width: 1025px) {
  .sidebarContent {
    margin-top: 0;
    display: grid;
  }
}

@media screen and (max-width: 767px) {
  input, select, textarea {
    font-size: 16px;
  }
}