/* BannerSlider/banner.slider.css */
.bannerWrapper {}

.customContainer {}

.customContainer .swiperButton {
  position: absolute;
  top: 50%;
  background-color: #fff;
  color: #FE5000;
  width: initial;
  height: initial;
  border: 0;
  padding: 0;
  border-radius: 100%;
}
.customContainer .swiperButton svg {
  width: 40px;
  height: 40px;
}
.customContainer .swiperButton::after {
  display: none !important;
}
.customContainer .swiperButtonNext {
  right: 60px;
}
.customContainer .swiperButtonPrev {
  left: 60px;
}

.swiperPagination {
  display: none;
}

.swiperPagination .swiper-pagination-bullet {
}

.swiperPagination .swiper-pagination-bullet-active {
}

.swiperWrapper {
  z-index: 0;
  text-align: center;
}

.imageBanner {
  width: 100%;
  max-height: 561px;
  object-fit: cover;
  object-position: center;
}
.imageContainer {}

.pictureBanner {
  display: block;
  line-height: 0;
}

.swiperContainer.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.loading-spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

.swiperContainer {}

.swiperSlide {}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.singleBanner img {
  width: 100%;
  height: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .bannerCta {
    font-size: 16px;
  }
  .customContainer .swiperButton {
    box-shadow: 0px 2.82px 2.82px 0px #00000040;
  }
  .customContainer .swiperButton svg {
    width: 23px;
    height: 23px;
  }
  .customContainer .swiperButtonNext {
    right: 10px;
  }
  .customContainer .swiperButtonPrev {
    left: 10px;
  }
}


/* src/styles/bannerslider.css */

:global(.swiper-wrapper) {
  display: flex;
}
:global(.swiper-slide){
  flex-shrink:0;
  width:100%;
}

/* Estilos para o carrossel */
:global(.swiper-button-next), :global(.swiper-button-prev) {
  width: 40px;
  height: 40px;
  top: 50%;
  background-color: #fff;
  color: #FE5000;
  border: 0;
  padding: 0;
  border-radius: 100%;
}

@media screen and (min-width: 1150px) {
  :global(.swiper-button-next) {
    right: 1%;
  }

  :global(.swiper-button-prev) {
    left: 1%;
  }
}

:global(.swiper-button-next):hover, :global(.swiper-button-prev):hover {
  background-color: #EEEEEE;
}

:global(.swiper-button-next):after, :global(.swiper-rtl) :global(.swiper-button-prev):after, :global(.swiper-button-prev):after {
  font-size: 12px;
  font-weight: 900;
}
  
:global(.swiper-container) :global(.swiper-pagination) {
  position: absolute;
  bottom: 25px;
  left: 0;
  width: 100%;
  text-align: center;
}
  
:global(.swiper-pagination-bullet) {
  transition: all 0.3s ease-in-out;
  background: #FFFFFF99;
  width: 24px !important;
  height: 2px !important;
  margin: 0 6px !important;
  border-radius: 0 !important;
  padding: 0;
  opacity: 1;
}

:global(.swiper-pagination-bullet-active) {
  width: 40px !important;
  background: #fff;
}

:global(.swiper-wrapper) {
  z-index: 0;
  text-align: center;
}

:global(.swiper-container) {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

:global(.single-banner) {
  text-align: center;
  display: block;
}

:global(.swiper-slide) :global(.image-banner) {
  width: 100%;
  max-height: 561px;
  object-fit: cover;
  object-position: center;
}

/* Estilo do texto central do primeiro banner */
.containerCentral-textoBanner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.containerCentral-textoBanner .linha1-textoBanner {
  font-size: 44px;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  margin-bottom: .5rem;
}
.containerCentral-textoBanner .linha2-textoBanner {
  font-size: 140px;
  font-family: 'Tusker-Grotesk';
  text-transform: uppercase;
  position: relative;
  color: #fff;
  margin: 0;
  margin-bottom: 1rem;
}
.containerCentral-textoBanner .badgeDesconto-textoBanner {
  font-size: 14px;
  font-weight: bold;
  background-color: #00BB3A;
  color: #000;
  padding: 3px 14px;
  border-radius: 8px;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.containerCentral-textoBanner .botao-textoBanner {
  font-size: 36px;
  font-weight: 500;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 1rem;
  width: 100%;
  display: block;
  padding-block: 1.2rem;
  text-decoration: none;
}

@media (min-width: 1600px) {
  :global(.swiper-slide) :global(.image-banner) {
    max-height: 765px;
  }
}

@media (max-width: 1025px) {
  .containerCentral-textoBanner .linha1-textoBanner {
    font-size: 40px;
  }
  .containerCentral-textoBanner .linha2-textoBanner {
    font-size: 106px;
  }
  .containerCentral-textoBanner .badgeDesconto-textoBanner {
    font-size: 10px;
    top: 43%;
  }
  .containerCentral-textoBanner .botao-textoBanner {
    font-size: 24px;
    padding-block: .8rem;
  }
}

@media (max-width: 768px) {
  .desktop {
    display: none;
  }
}

@media (min-width: 769px) {
  .mobile {
    display: none;
  }
}

.single-banner img {
  width: 100%;
  height: auto;
  display: block;
}
  